@{
    ViewData["Title"] = "Registration Successful";
}

<div class="container">
    <div class="alert alert-success mt-4" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Your registration was successful. You can now log in to your account.</p>
        <hr>
        <p class="mb-0">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go to Home</a>
        </p>
    </div>
</div>
